# Ignore build output directory
/build
/export
Debug/
Release/
.Xil/
build/

# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log

#Ignore lock files
.lock

.bin
.pdi
.vitisWorkspace.json

_ide/
.rigel_lopper/
compile_commands.json
.clangd
